@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html, body{
  height: 100%;
}
#container1 {
  min-height: 100%;
}
#main {
  overflow: auto;
  padding-bottom: 100px;
}
#footer {
  background-color: #bc07f3;
  position: fixed;
  bottom:0;
  width: 100%;
  clear:both;
}
.footer-text-left {
  text-align: center;  
  color: burlywood;
}
body{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
nav{
  position: fixed;
  background: #bc07f3;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: rgb(232, 230, 234);
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: rgba(244, 208, 5, 0.879);
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: rgb(240, 12, 115);
  color: rgb(141, 17, 230);
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(168, 12, 229, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
  flex: 1 0 auto;
}
.center .title{
  color: rgba(237, 9, 184, 0.922);
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: rgb(235, 9, 144);
  font-size: 52px;
  font-weight: 600;
}
.center .typed-out{
overflow: hidden;
border-right: .15em solid rgba(237, 9, 184, 0.922);
white-space: nowrap;
font-size: 55px;
font-weight: 600;
width: 0;
animation: typing 5s forwards;
}
.container { 
  display: inline-block;
}
@keyframes typing{
  from { width: 0}
  to { width: 100%}
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color:gray;
  background: none;
}
.btns button:first-child:hover{
  background: rgb(73, 14, 234);
  color: black;
}
.center .btns button:last-child{
  color:grey;
  background:none;
}
.btns button:last-child:hover{
    background: rgb(73, 14, 234);
    color: black;
  /*Start of Services.html*/ 
}
.article{
display: wrap;
margin-top: 500px;

}
.gallery-item {
  height: 1000px;
  width: 1000px;
  padding: 100%;
  font-size:small;
  text-align: left;
  background-color: white;
  color:black;
  box-sizing: content-box;
  align-items: flex-start;
  display: contents; 
  flex-wrap: wrap;
}
.gallery-img1{
  content: url(./images/SEO.jpg);
  position: relative;
  height: 500px;
  width: 500px;
  align-content: center;
  word-wrap: normal;
}
.gallery-img2{
  content: url(./images/Design.jpg);
  position: left;
  height: 500px;
  width: 500px;
  align-content: center;
  word-wrap:normal;
}
.gallery-img3{
  content: url(./images/marketing.jpg);
  position: left;
  height: 500px;
  width: 500px;
  align-content: center;
  word-wrap:normal;
  /*End of Services.html*/ 
}